@model MonitPro.Models.Profile
<script src="~/Scripts/tableHeadFixer.js"></script>
@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">User List</h1>
        </div>
        <div id="container" class="table-responsive">
            <table id="UserList" class="table-bordered table-responsive" cellpadding="2" cellspacing="2" width="100%">
                <thead>
                    <tr>
                        <th>SNO</th>
                        <th>
                            Action
                        </th>
                        <th>User</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email Address</th>
                        <th>User Name</th>
                        <th>MobileNo</th>
                        <th>Designation</th>
                        <th>Role</th>
                        <th>IsActive</th>
                    </tr>
                </thead>
                @for (var i = 0; i < Model.UserProfile.Count; i++)
                {
                    <tr>
                        <td width="2%">@(i + 1)</td>
                        <td>@Html.ActionLink("Edit", "UpdateUserProfile", new { id = Model.UserProfile[i].UserID })</td>
                        <td>
                            @if (Model.UserProfile[i].UserImage != "")
                            {
                                <img class="img-rounded" src="../Users/@Model.UserProfile[i].UserImage" height="30px" width="30px">
                            }
                            else
                            {
                                <img class="img-rounded" src="../Users/notfound.jpg" height="30px" width="30px">
                            }
                        </td>
                        <td>@Model.UserProfile[i].FirstName</td>
                        <td>@Model.UserProfile[i].LastName</td>
                        <td>@Model.UserProfile[i].EmailAddress</td>
                        <td>@Model.UserProfile[i].UserName</td>
                        <td>@Model.UserProfile[i].MobileNo</td>
                        <td>@Model.UserProfile[i].Designation</td>
                        <td>@Model.UserProfile[i].RoleName</td>
                        <td>@Model.UserProfile[i].IsActiveSelect</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#UserList").tableHeadFixer({ "left": 0 });
        document.getElementById('container').style.height = window.innerHeight - 100 + "px";
        document.getElementById('container').style.width = window.innerWidth - 10 + "px";
    });
</script>