@model ValsparApp.Models.WorkPermit
@{
    Layout = null;
}


<table class="table-bordered table-responsive" width="100%">
     <tr style="font-weight:bold">
        <td width="80%" class="text-left">Height / Fragile roof/ Excavation – Checklist</td>
        <td width="20%" class="text-left">Yes</td>
        <td>N/A</td>
     </tr>
    <tr><td>1) Equipment/Pipeline Depressurized/Drained Fully/Flushed with Water</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.EquipmentFlushed, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.EquipmentFlushed, "0", new { @disabled = "true" })</td></tr>
    <tr><td>2) Under ground pipelines isolated</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.UGPipelinesIsolated, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.UGPipelinesIsolated, "0", new { @disabled = "true" })</td></tr>
    <tr><td>3) Under ground cables are verified and de-energized</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.UGCablesVerified, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.UGCablesVerified, "0", new { @disabled = "true" })</td></tr>
    <tr><td>4) Soil more than 1.2 m (4feet) deep shall be securely shored</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.SoilSecurelyShored, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.SoilSecurelyShored, "0", new { @disabled = "true" })</td></tr>
    <tr><td>5) Excavated material shall be kept at least 0.61m (2 feet) away from the edge of the trench.</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.ExcavatedMaterial, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.ExcavatedMaterial, "0", new { @disabled = "true" })</td></tr>
    <tr><td>6) Atmospheres in the excavation shall be tested for Oxygen content  before employees enter excavations greater than 1.22 m (4 feet) in depth. Oxygen content is……%</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.AtmpspheresTested, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.AtmpspheresTested, "0", new { @disabled = "true" })</td></tr>
    <tr><td>7) Checked the condition of the safety belt and anchoring of lifeline to rigid structure .</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.SafetyBeltConditonChecked, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.SafetyBeltConditonChecked, "0", new { @disabled = "true" })</td></tr>
    <tr><td>8) Checked  provisions of lifelines with fall arresting for both vertical and horizontal movement in the absence of fixed means of access. </td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.ProvisionsOfLifelinesChecked, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.ProvisionsOfLifelinesChecked, "0", new { @disabled = "true" })</td></tr>
    <tr><td>9) Area  barricaded / caution boards  provided</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.AreaBarricadedProvided, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.AreaBarricadedProvided, "0", new { @disabled = "true" })</td></tr>
    <tr><td>10) The work area is clear and safe from overhead electrical lines</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.WorkAreaSafe, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.WorkAreaSafe, "0", new { @disabled = "true" })</td></tr>
    <tr><td>11) Ensured safety net is  properly tied</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.SafetynetTied, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.SafetynetTied, "0", new { @disabled = "true" })</td></tr>
    <tr><td>12) Checked Preventive action for collapse of soil heaps </td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.CollapseOfSailHeapsChecked, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.CollapseOfSailHeapsChecked, "0", new { @disabled = "true" })</td></tr>
    <tr><td>13) Organized pep talks</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.PepTalksOrganized, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.PepTalksOrganized, "0", new { @disabled = "true" })</td></tr>
    <tr><td>14) Permanent safe means of access to work at height is available</td><td width="20%" class="text-left">@Html.RadioButtonFor(m => m.HeightFragileRoof.WorkAtHightIsAvailable, "1", new { @disabled = "true" }) </td><td>@Html.RadioButtonFor(m => m.HeightFragileRoof.WorkAtHightIsAvailable, "0", new { @disabled = "true" })</td></tr>


    <tfoot>

        <tr><td colspan="2" class="text-danger text-center"><strong>@Html.ValidationMessage("ValidationError")</strong></td></tr>
    </tfoot>
</table>
