@model MonitPro.Models.UserProfile
@using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!DOCTYPE html>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Edit Profile</h1>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive">
                        <tr>
                            <td rowspan="7" width="30%" class="text-center" style="vertical-align:middle">
                                @Html.HiddenFor(m => m.UserImage)
                                @if (Model.UserImage != "")
                                {
                                    <img id="ProfilePicture" class="img-rounded" src="../Users/@Model.UserImage" title="@Model.UserFullName" height="200" width="200">
                                }
                                else
                                {
                                    <img class="img-rounded" src="../Users/notfound.jpg" title="Profile image not found" height="200" width="200">
                                }
                            </td>
                            <td width="20%" class="text-right">First Name :</td>
                            <td>@Html.HiddenFor(m => m.UserID)@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-sm", @style = "width:500px" }) @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "label label-danger" })</td>
                        </tr>
                        <tr>
                            <td class="text-right">Last Name :</td>
                            <td>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-sm", @style = "width:500px" }) @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "label label-danger" })</td>
                        </tr>
                        <tr>
                            <td class="text-right">Email Address :</td>
                            <td>@Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control input-sm", @style = "width:500px" }) @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "label label-danger" })</td>
                        </tr>
                        <tr>
                            <td class="text-right">Mobile Number :</td>
                            <td>@Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control input-sm", @style = "width:500px" }) @Html.ValidationMessageFor(m => m.MobileNo, null, new { @class = "label label-danger" })</td>
                        </tr>
                        <tr>
                            <td class="text-right">User Name :</td>
                            <td>@Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-sm", @style = "width:500px" }) @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "label label-danger" })</td>
                        </tr>
                        <tr>
                            <td class="text-right">PassWord :</td>
                            <td>@Html.EditorFor(m => m.Password, new { @class = "form-control input-sm", @style = "width:500px" }) @Html.ValidationMessageFor(m => m.Password, null, new { @class = "label label-danger" })</td>
                        </tr>
                        <tr><td class="text-right" nowrap>Change Profile Picture : </td><td>
                            @Html.TextBoxFor(m => m.UserProfileImage, new { type = "file", accept = "image/*", onchange = "loadFile(event)" }) <span class="label-warning">Please select JPEG file within 100KB</span>
                        <tr class="hidden">
                            <td class="text-right">Designation :</td>
                            <td>@Html.TextBoxFor(m => m.Designation, new { @class = "form-control input-sm", @style = "width:500px" }) @Html.ValidationMessageFor(m => m.Designation, null, new { @class = "label label-danger" })</td>
                        </tr>
                        <tr class="hidden">
                            <td class="text-right">Role : </td>
                            <td>
                                @Html.DropDownListFor(m => m.Role, new SelectList(Model.RoleList, "RoleID", "RoleName"), "-- Select Role --", new { @class = "form-control input-sm", @style = "width:300px" })
                            </td>
                        </tr>
                        <tr class="hidden">
                            <td class="text-right">Active :</td>
                            <td>@Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control input-sm" })</td>
                        </tr>

                        <tr>
                            <td colspan="3" align="center">
                                <input type="submit" class="btn btn-primary" value="Update" style="width:100px" />&nbsp;&nbsp;
                                <input type="button" class="btn btn-primary" value="Cancel" style="width:100px" id="Cancel" />
                            </td>
                        </tr>
                        <tfoot>
                            @if (ViewBag.IsValidationFailed == true)
                            {
                                <tr>
                                    <td colspan=3 class="text-danger text-center">
                                        <strong>@Html.ValidationMessage("ValidationError")</strong>
                                    </td>
                                </tr>
                            }
                            @if (ViewBag.UpdateStatus == true)
                            {
                                <tr>
                                    <td colspan=3 class="text-success text-center">
                                        <strong>Profile has been updated successfully.</strong>
                                    </td>
                                </tr>
                            }
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#Cancel").click(function (event) {
            window.location.replace("../WorkPermit/CreatePermit");
        });
         
        var loadFile = function(event) {
        var ProfilePicture = document.getElementById('ProfilePicture');
        ProfilePicture.src = URL.createObjectURL(event.target.files[0]);
      };
        </script>
    
}
  