@model MonitPro.Models.EquipmentEntity
@{
    ViewBag.Title = "AddEquipment";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<style>
    html {
        overflow: scroll;
    }

    .col1 {
        padding-left: 120px;
    }
    .row{
        padding-bottom:10px;
    }
    .padr{
        padding-right:40px;
    }
    
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <div class="container-fluid">
        <br />
        <div class="div-border" style="width:50%">
            <h1 class="div-h1"><span class="div-h1-span">&nbsp;Add Equipment &nbsp;</span></h1>
            <div class="container-fluid padr">


                <div class="row">
                    <div class="col-lg-6 col-sm-6 col1">
                        <label>Factory : </label>
                    </div>
                    <div class="col-lg-offset-6 col-sm-offset-6">
                        @Html.DropDownListFor(m => m.FactoryID, Model.FactoryList, new { @class = "form-control input-sm", @maxlength = "100", @style = "width: 400px;   max-width: 80%;" })
                        @Html.ValidationMessageFor(m => m.FactoryID, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col1">
                        <label>Plant/Area : </label>
                    </div>
                    <div class="col-lg-offset-6 col-sm-offset-6">
                        @Html.DropDownListFor(m => m.DivisionID, Model.DivisionList, "-- Select Plant/Area --", new { @class = "form-control input-sm", @maxlength = "100", @style = "width: 400px;   max-width: 80%;" })
                        @Html.ValidationMessageFor(m => m.DivisionID, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col1">
                        <label>Equipment Type : </label>
                    </div>
                    <div class="col-lg-offset-6 col-sm-offset-6">
                        @Html.DropDownListFor(m => m.EqTypeID, new SelectList(Model.EquipemntTypeList, "EqTypeID", "EqTypeName"), "-- Select Equipment Type --", new { @class = "form-control input-sm", @maxlength = "100", @style = "width: 400px;   max-width: 80%;" })
                        @Html.ValidationMessageFor(m => m.DivisionID, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col1">
                        <label>Equipment ID : </label>
                    </div>
                    <div class="col-lg-offset-6 col-sm-offset-6">
                        @Html.TextBoxFor(m => m.EquipmentTagID, new { @class = "form-control input-sm", @maxlength = "100", @style = "width: 400px;   max-width: 80%;" })
                        @Html.ValidationMessageFor(m => m.EquipmentTagID, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col1">
                        <label>Equipment Name :</label>
                    </div>
                    <div class="col-lg-offset-6 col-sm-offset-6">
                        @Html.TextBoxFor(m => m.EquipmentName, new { @class = "form-control input-sm", @maxlength = "100", @style = "width: 400px;   max-width: 80%;" })
                        @Html.ValidationMessageFor(m => m.EquipmentName, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col1">
                        <label>Description : </label>
                    </div>
                    <div class="col-lg-offset-6 col-sm-offset-6">
                        @Html.TextAreaFor(m => m.EquipmentDescription, new { @rows = "3", @cols = "300px", @maxlength = "100", @style = "width: 400px;   max-width: 80%;" })
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6 col1 col-sm-6">
                        <label>Is Equipment :</label>
                    </div>
                    <div class="col-lg-offset-6 col-sm-offset-6" width="30px">@Html.CheckBoxFor(m => m.IsEquipment, new { @class = "form-control input-sm" })</div>
                </div>
                <div class="row">
                    <div class="text-center">
                        @if (ViewBag.IsInsertSuccessful != null && ViewBag.IsInsertSuccessful)
                        {
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Equipment has been successfully added. </strong>
                            </div>
                        }
                        @if (ViewBag.IsValidationFailed == true)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>@Html.ValidationMessage("ValidationError")</strong>
                            </div>
                        }
                        <input type="submit" class="btn btn-primary" value="Save" style="width:100px" />&nbsp;&nbsp;
                        <input type="button" class="btn btn-primary" value="Cancel" style="width:100px" id="Reset" />
                    </div>
                </div>


            </div>
        </div>

     </div>



       
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#Reset").click(function (event) {

            $("#FactoryID").val("");
            $("#DivisionID").val("");
            $("#EquipmentTagID").val("");
            $("#EquipmentName").val("");
            $("#EquipmentDescription").val("");
            $("#TemplateID").val("");
            $(".field-validation-error").empty();
        });

    $(document).ready(function () {
            $("#FactoryID").change(function () {
                var select = $("#DivisionID");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "-- Select Plant/Area --"
                }));
                var selectedFactoryID = $(this).val();
                if (selectedFactoryID != "") {
                    $.getJSON("../workPermit/GetDivisions", { factoryID: selectedFactoryID }, function (data) {
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
                }
             });
    });


    $(document).ready(function () {
        var DivisionIndex = 0;
            var select = $("#DivisionID");
            select.empty();
            select.append($('<option/>', {
                value: "",
                text: "-- Select Plant/Area --"
            }));
            var selectedFactoryID = $("#FactoryID").val();
            if (selectedFactoryID != "") {
                $.getJSON("../workPermit/GetDivisions", { factoryID: selectedFactoryID }, function (data) {
                    $.each(data, function (index, itemData) {
                        if (itemData.Value=='@ViewBag.DivisionID')
                        {
                            DivisionIndex=index+1;
                        }
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text

                        }));
                    });

                    document.getElementById('DivisionID').selectedIndex = DivisionIndex;
                });
            }
     });
    </script>
}

@if (ViewBag.SessMessage != null)
{
    <script type="text/javascript">
        {
            alert("Newer session exists in another browser/system...Logout");
            window.location.href = "../Account/Login";
        };

    </script>
}




