@model MonitPro.Models.ContractList
<script src="~/Scripts/tableHeadFixer.js"></script>
@{
    ViewBag.Title = "CreatePermit";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<style>
    .row {
        padding-bottom: 10px;
    }

    .col1 {
        padding-left: 40px;
    }

    .col2 {
        padding-left: 40px;
    }

    .pre-scrollable {
        max-height: 500px;
        overflow: scroll;
    }

    .table-hover tbody tr:hover td {
        background-color: #B4CFEC;
    }

    .table > thead > tr > th {
        background-color: #428BCA;
        color: white;
    }

    #ContractList thead th {
        position: sticky;
        top: 0;
    }

    html {
        overflow: auto;
    }
</style>
<script type="text/javascript">


    function SearchContractorlist() {
        var response = null;
        var CurrentURL = '../WorkPermit/ContractList';
        var options = { "backdrop": "static", keyboard: true };

        var ContractListMod = @Html.Raw(Json.Encode(Model.searchCon));

        ContractListMod.ValsparManager = $("#searchCon_ValsparManager").val();
        ContractListMod.ContactID = $("#searchCon_ContactID").val();

        $.ajax({
            method: "POST",
            url: '../WorkPermit/ContractList',
            data: ContractListMod,
            success: function (response) {

                document.open();
                document.write(response);

                //assign the values back to control

                $("#searchCon_ValsparManager").val(ContractListMod.ValsparManager);
                $("#searchCon_ContactID").val(ContractListMod.ContactID);

                document.close();
            },
            error: function (data) {
                alert(JSON.stringify(data));
                alert("Dynamic content load failed.");
            }
        });

    }



    //$(document).ready(function () {
    //    $("#ContractList").tableHeadFixer({ "left": 0 });
    //    document.getElementById('container').style.height = window.innerHeight - 180 + "px";
    //    document.getElementById('container').style.width = window.innerWidth - 10 + "px";
    //});
    function ClearSearch() {

        $("#searchCon_ContactID").val(0);
        $("#searchCon_ValsparManager").val(0);

    }
</script>

@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <div class="container-fluid">
        <div class="panel-heading">
            <div class="div-border">
                <h1 class="div-h1"><span class="div-h1-span">&nbsp;Search Contractor &nbsp;</span></h1>
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12 col-sm-10 text-center">
                            <label>Contract Manager</label> &nbsp; &nbsp;

                            @Html.DropDownListFor(m => m.searchCon.ValsparManager, new SelectList(Model.ValsparContactList, "UserID", "DisplayUserName"), "-- Select --", new { @class = "form-control input-sm", @style = "width:300px" })


                            &nbsp;&nbsp; <label>Approver</label>

                            &nbsp;&nbsp;@Html.DropDownListFor(m => m.searchCon.ContactID, new SelectList(Model.ContractApprover, "UserID", "DisplayUserName"), "-- Select --", new { @class = "form-control input-sm", @style = "width:300px" })

                            &nbsp;&nbsp;<input type="button" class="btn btn-primary" onclick="SearchContractorlist()" name="btnSearch" id="btnSearch" value="Search" />
                            <input type="button" class="btn btn-primary" onclick="ClearSearch()" name="btnReset" id="btnReset" value="Clear" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Contract.Count > 0)
        {
            @Html.ActionLink("Export Contractor List", "ExportContractorList", new { @class = "btn btn-primary" })
        }
        <div class="container-fluid">
            <div class="div-border">
                <h1 class="div-h1"><span class="div-h1-span">&nbsp;Contractor List &nbsp;</span></h1>
                <div id="container" class="table table-responsive pre-scrollable">
                    <table id="ContractList" class="table table-bordered table-hover table-responsive" width="100%">
                        <thead>
                            <tr>
                                <th style="width:80px">SNo</th>
                                <th style="width:200px">Company Name</th>
                                <th style="width:150px">Supervisor Name </th>
                                <th style="width:200px">Email Address</th>
                                <th style="width:120px">Mobile No</th>
                                <th style="width:120px">Frequency Of Evaluation</th>
                                <th style="width:150px">Last Assessment Date</th>
                                @*<th>Next Assessment Date</th>*@
                                <th style="width:150px"> Contract Manager </th>
                                <th style="width:100px">Approver</th>
                                <th style="width:100px">Comments</th>
                                <th style="width:120px">Approval Status</th>
                                <th style="width:100px">Action</th>
                                <th style="width:100px">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Contract.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>

                                    <td style="word-break:break-all;">@Model.Contract[i].CompanyName </td>
                                    <td style="word-break:break-all;">@Model.Contract[i].SupervisorFirstName</td>
                                    <td style="word-break:break-all;">@Model.Contract[i].EmailAddress</td>
                                    <td>@Model.Contract[i].MobileNo</td>
                                    <td>@Model.Contract[i].FrequencyName</td>
                                    <td>@Model.Contract[i].LastAssessmentDate</td>
                                    @*<td>@Model.Contract[i].NextAssessmentDate</td>*@
                                    <td>@Model.Contract[i].ContractorCreatedBy </td>
                                    <td>@Model.Contract[i].ContactPerson</td>
                                    <td style="word-break:break-all;">@Model.Contract[i].ApproverComments</td>
                                    <td>@Model.Contract[i].ContractStatus</td>
                                    <td>
                                        @if ((Model.Contract[i].ContactID == Model.UserID || Model.Contract[i].updatedby == Model.UserID))
                                        {
                                            @*@Html.ActionLink("Edit", "UpdateContract", new { id = Model.Contract[i].ContractID })*@
                                            <a href="@Url.Action("UpdateContract", "WorkPermit", new { id = @Model.Contract[i].ContractID })" title="Edit"><img src="~/Images/Edit.png" style="height:30px;width:30px;" /></a>

                                        }
                                        <a href="@Url.Action("ContractorPdf", "WorkPermit", new { id = @Model.Contract[i].ContractID })" target="_blank" title="Pdf"><img src="~/Images/pdficon.jpg" style="height:30px;width:30px;" /></a>
                                        @if (Model.Contract[i].Attachment != null && Model.Contract[i].Attachment != "")
                                        {
                                            <a href="~/ContractAttachment/@Model.Contract[i].Attachment" download>
                                                @*<a href="../WorkPermit/ContractorPdf/@Model.Contract[i].ContractID" target="_blank" title="Pdf"><img src="~/Images/pdficon.jpg" style="height:30px;width:30px;" /></a>*@

                                                <img border="0" src="~/images/download.png" alt="download" width="25" height="25">
                                            </a>
                                        }
                                    </td>
                                    <td>@Model.Contract[i].Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>



}
<script>
    $(document).ready(function () {
        $("#searchCon_ValsparManager").attr('required', false);
        $("#searchCon_ContactID").attr('required', false);

        //$("#ContractList").tableHeadFixer({ "left": 0 });
        //document.getElementById('container').style.height = window.innerHeight - 120 + "px";
        //document.getElementById('container').style.width = window.innerWidth - 10 + "px";
    });
</script>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
          {
            alert("@TempData["Message"]");
            @TempData.Remove("Message");
               // window.location.href = "../Incident/Index";
        };

    </script>
}
@if (ViewBag.SessMessage != null)
{
    <script type="text/javascript">
        {
            alert("Newer session exists in another browser/system...Logout");
            window.location.href = "../Account/Login";
        };

    </script>
}
