
@model IncidentReportSystem.Models.AllIncidentObservationListModel
<link rel="stylesheet" type="text/css" href="~/datetimepicker/jquery.datetimepicker.css" />
<script src="~/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/tableHeadFixer.js"></script>

<style type="text/css">
    .table-hover tbody tr:hover td {
        background-color: #B4CFEC;
    }

    .table > thead > tr > th {
        background-color: #428BCA;
        color: white;
    }

    .select2-container {
        max-width: 100%;
    }

    .select2-container {
        width: 300px; /* or any other value you prefer */
    }
</style>

@section scripts
{
    <script type="text/javascript">

        function ALLIncidentObservation(IncidentID) {
            window.location.href = '../Incident/Observations?incidentID=' + IncidentID;
        }



        function SearchIncident(){
        var response = null;
        var CurrentURL = '../Incident/AllIncidentObservation';
        var options = { "backdrop": "static", keyboard: true };

        var INCMod = @Html.Raw(Json.Encode(Model.IncidentSearchVM));

        INCMod.IncidentPlant = $("#IncidentSearchVM_IncidentPlant").val();
        INCMod.IncidentStatus = $("#IncidentSearchVM_IncidentStatus").val();
         INCMod.IncidentFromDate  = $("#IncidentSearchVM_IncidentFromDate").val();
         INCMod.IncidentToDate  = $("#IncidentSearchVM_IncidentToDate").val();
            INCMod.IncidentType = $("#IncidentSearchVM_IncidentType").val();
            INCMod.ActionerID = $("#IncidentSearchVM_ActionerID").val();
            INCMod.DeptManger = $("#IncidentSearchVM_DeptManger").val();




        $.ajax({
            method: "POST",
            url: "../Incident/AllIncidentObservation",
            data: INCMod,
            success: function (response) {
                document.open();
                document.write(response);
             /*   $('#MainBody').html(response);*/

                //assign the values back to control
                $("#IncidentSearchVM_IncidentPlant").val(INCMod.IncidentPlant);
                $("#IncidentSearchVM_IncidentStatus").val(INCMod.IncidentStatus);
                $("#IncidentSearchVM_IncidentFromDate").val(INCMod.IncidentFromDate );
                $("#IncidentSearchVM_IncidentToDate").val( INCMod.IncidentToDate);
                $("#IncidentSearchVM_IncidentType").val(INCMod.IncidentType);
                $("#IncidentSearchVM_ActionerID").val(INCMod.ActionerID);
                $("#IncidentSearchVM_DeptManger").val(INCMod.DeptManger);
                document.close();
            },
            error: function (data) {
                alert(JSON.stringify(data));
                alert("Dynamic content load failed.");
            }
        });
        }

        function ClearSearch() {
            $("#IncidentSearchVM_IncidentPlant").val('');
            $("#IncidentSearchVM_IncidentPlant").select2('');
            $("#IncidentSearchVM_IncidentStatus").val('');
            $("#IncidentSearchVM_IncidentFromDate").val('');
            $("#IncidentSearchVM_IncidentToDate").val('');
            $("#IncidentSearchVM_IncidentType").val('');
            $("#IncidentSearchVM_ActionerID").val('');
             $("#IncidentSearchVM_ActionerID").select2('');
            $("#IncidentSearchVM_DeptManger").val('');
            $("#IncidentSearchVM_DeptManger").select2('');

        }

        jQuery('#IncidentSearchVM_IncidentFromDate').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            lang: 'ru',
            step: 30
        });

        jQuery('#IncidentSearchVM_IncidentToDate').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            lang: 'ru',
            step: 30
        });
        $(document).ready(function () {
            $("#SearchResults").tableHeadFixer({ "left": 0 });
            document.getElementById('container').style.height = window.innerHeight -290 + "px";
            document.getElementById('container').style.width = window.innerWidth - 10 + "px";
        });
         $(function () {

            $("#IncidentSearchVM_IncidentPlant").select2();
            $("#IncidentSearchVM_DeptManger").select2();
            $("#IncidentSearchVM_ActionerID").select2();
          });

    </script>
    @Scripts.Render("~/Scripts/select2.js")
    @Scripts.Render("~/Scripts/select2.min.js")
    @Styles.Render("~/Content/select2.css")
    @Styles.Render("~/Content/select2.min.css")
}
@if (ViewBag.SessMessage != null)
{
    <script type="text/javascript">
        {
            alert("Newer session exists in another browser/system...Logout");
            window.location.href = "../Account/Login";
        };


        /**/</script>
}


@{
    ViewBag.Title = "Observations";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        #SearchResults thead th {
            position: sticky;
            top: 0;
        }

        html {
            overflow: scroll;
        }

        .leftpad {
            padding-left: 20px;
        }

        .pad {
            padding-left: 30px;
        }

        .txtpad {
            position: relative;
            left: -70px;
        }

        .pre-scrollable {
            max-height: 400px;
            overflow-y: scroll;
        }

        .col1 {
            padding-left: 60px;
        }

        .col2 {
            padding-left: 60px;
        }

        .col3 {
            padding-left: 70px;
        }
        .row{
            padding-bottom:8px;
        }
    </style>
</head>
<body>
    <div class="container-lg container-sm container-md container-xl">
        <div class="div-border">
            <h1 class="div-h1"><span class="div-h1-span">&nbsp;Incidents Recommendations List&nbsp;</span></h1>
            <div class="container-lg container-sm container-md container-xl leftpad">

                <div class="row">

                    <div class="col-lg-2 col-sm-2 col1">
                        <label>Incident From Date</label>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        @Html.EditorFor(model => model.IncidentSearchVM.IncidentFromDate, new { htmlAttributes = new { @class = "form-control date-time-picker", @maxlength = "100", @style = "width: 200px;height:25px;   max-width: 100%;", @autocomplete = "off" } })

                    </div>
                    <div class="col-lg-2 col-sm-2 col2">
                        <label>Incident To Date</label>
                    </div>

                    <div class="col-lg-2 col-sm-2">
                        @Html.EditorFor(model => model.IncidentSearchVM.IncidentToDate, new { htmlAttributes = new { @class = "form-control date-time-picker", @maxlength = "100", @style = "width: 200px;height:25px;   max-width: 100%;", @autocomplete = "off" } })

                    </div>

                    <div class="col-lg-2 col-sm-2 col1">
                        <label>Functional Manager</label>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        @Html.DropDownListFor(model => model.IncidentSearchVM.DeptManger,
                                                                         new SelectList(Model.DeptManagerList, "ID", "FullName"), new { @class = "form-control input-sm", style = "width: 200px;" })
                        @Html.ValidationMessageFor(model => model.IncidentSearchVM.DeptManger, "", new { @class = "label label-danger" })
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-lg-2 col-sm-2 col1">
                        <label>Plant / Area</label>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        @Html.DropDownListFor(model => Model.IncidentSearchVM.IncidentPlant,
                        ViewBag.IncidentPlant as SelectList, new { @class = "form-control", @maxlength = "100", @style = "width: 200px;height:25px;   max-width: 100%;" })

                    </div>

                    <div class="col-lg-2 col-sm-2 col1">
                        <label>Incident Category</label>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        @Html.DropDownListFor(Model => Model.IncidentSearchVM.IncidentType,
                                 ViewBag.IncidentTypes as SelectList, new { @class = "form-control", @maxlength = "100", @style = "width: 200px;height:25px;   max-width: 100%;" })


                    </div>

                    <div class="col-lg-2 col-sm-2 col1">
                        <label>Status</label>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        @Html.DropDownListFor(Model => Model.IncidentSearchVM.IncidentStatus,
                                 ViewBag.IncidentStatus as SelectList, new { @class = "form-control", @maxlength = "100", @style = "width: 200px;height:25px;   max-width: 100%;" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-2 col1">
                        <label>Action By</label>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        @Html.DropDownListFor(Model => Model.IncidentSearchVM.ActionerID,
                                (ViewBag.UserList as SelectList), new { @class = "form-control", @maxlength = "100", @style = "width: 200px;height:25px;   max-width: 100%;" })

                    </div>


                    <div class="col-lg-2 col-sm-2">
                        <img src="~/Images/searchIcon.png" onclick="SearchIncident()" name="btnSearch" id="btnSearch" alt="Search Button" style="cursor: pointer;height:30px;width:30px" title="Search" />
                        &nbsp; &nbsp; &nbsp;
                        @if (Model.ObservationViewModelList1.Count > 0)
                        {
                            <a href="@Url.Action("ExportAllObservation",new { currentFromDate = ViewBag.fromdate, currentEndDate = ViewBag.Todate, ActionerID = ViewBag.Actioner, DeptID = ViewBag.DeptID, IncidentPlantID = ViewBag.PlantID, incidentstatus = ViewBag.IncidentStatus1, incidenttype = ViewBag.IncidentType })">
                                <img src="~/Images/ms-excel-icon.png" alt="Export All Recommendations List" style="width: 30px; height: 30px; cursor: pointer;" title="Export All Recommendations List" />
                            </a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div> <br/>

    @*@if (Model.ObservationViewModelList1.Count > 0)
    {
        @Html.ActionLink("Export All Recommendations List", "ExportAllObservation", new { currentFromDate = ViewBag.fromdate, currentEndDate = ViewBag.Todate, ActionerID = ViewBag.Actioner, DeptID = ViewBag.DeptID, IncidentPlantID = ViewBag.PlantID, incidentstatus = ViewBag.IncidentStatus1, incidenttype = ViewBag.IncidentType, @class = "btn btn-primary" })

    }*@

    <div class="container-lg container-md container-sm container-xl">
            <div class="container-lg container-md container-sm container-xl pre-scrollable" style="max-height: 70vh;">
                @if (Model.ObservationViewModelList1.Count > 0)
                {
                    <table class="table table-striped header-fixed table-hover" id="SearchResults">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Plant/Area</th>

                                <th>Incident ID</th>
                                <th>Recom ID</th>
                                <th>Incident Category</th>

                                <th width="20%">Recommendations</th>

                                <th>Action By</th>
                                <th>Functional Manager</th>
                                <th>Target Date</th>
                                <th>Completed Date</th>
                                <th>Status</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.ObservationViewModelList1)
                            {

                            <tr>
                                <td>@item.SNo</td>
                                <td>@item.PlantName</td>
                                <td>@item.IncidentNO</td>

                                <td>@item.ObservationID</td>
                                <td>@item.PriorityName</td>
                                <td style="word-break:break-all;">@item.Recommendation</td>

                                <td>@item.CompletedBy</td>
                                <td>@item.DeptManagerName</td>
                                <td>@item.TargetDate</td>
                                <td>@item.CompletedDate</td>
                                @*<td>
            @if (item.InciStatusID == 5)
            {
            <a href="javascript:ALLIncidentObservation(@item.IncidentID);" title="Observations"><img src="~/Images/Edit.png" title="Edit Observation" alt="Edit" style="height:25px;width:25px;" /></a>
            }
        </td>*@
                                <td>@item.Actionstatus</td>
                                <td>
                                    @if (Model.Roles.Find(a => a.RoleName == "HSE Manager") != null)
                                    {
                                        <a href="javascript:ALLIncidentObservation(@item.IncidentID);" title="Observations"><img src="~/Images/Recommendation.jpg" alt="Observations" style="height:25px;width:25px;" /></a>


                                    }
                                    else if (((item.CompletedBy == Model.UserFullName) || (item.DeptManagerName == Model.UserFullName)) && (item.Actionstatus != "Completed"))
                                    {
                                        <a href="javascript:ALLIncidentObservation(@item.IncidentID);" title="Observations"><img src="~/Images/Recommendation.jpg" alt="Observations" style="height:25px;width:25px;" /></a>

                                    }
                                    @if (item.Attachment != "")
                                    {
                                        <a href="~/IncidentRecomAttachment/@item.Attachment" download>
                                            <img border="0" src="~/images/download.png" alt="download" width="25" height="25">
                                        </a>

                                    }
                                </td>
                            </tr>


                            }

                        </tbody>
                    </table>
                }
                else
                {
                    <p>No Record Found</p>
                }
            </div>
       
    </div>
    <div class="modal" id='myModal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>


</body>
</html>
